@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@500 & family= Noto+Sans:wght@300 & display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    font-size: 100%;
  }

  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #3B89AC;
  }
  .cabecalho-imagem {
    height: 40px;
  }
  
  .page-section{
    padding: 6rem;
  }
  
  
  
  
  
  
  